{:paths ["src" "resources"]
 :deps  {org.clojure/clojure {:mvn/version "1.12.0"}
         com.datomic/peer    {:mvn/version "1.0.6733"}
         cloudafrica/eacl    {;:local/root "/Users/petrus/code/eacl"
                              :git/url "git@github.com:cloudafrica/eacl.git"
                              :git/sha "715ad6eed9f8b100e502909395126cef65cca27d"}}}